@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Patrick+Hand&family=Playfair+Display:wght@400;500&display=swap');


// import functions
@import "../node_modules/bootstrap/scss/functions";

// globals
// $enable-rounded: false;
$enable-negative-margins: true;
$enable-shadows: true;
$link-decoration: none;
// $enable-gradients: true;

// colors
$primary: rgb(222, 144, 6);
$secondary: rgb(111, 191, 190);
$success: rgb(154, 235, 163);

$light: rgb(255, 255, 255);
$dark: rgb(29, 29, 29);

// Fonts
// $font-family-base: "Playfair Display";
// $font-family-base: "Patrick Hand";
// $font-family-base: "IBM Plex Mono";

// Spacing
$spacer: 1rem;
$spacers: (
	//sass map
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 2,
	5: $spacer * 4,
	6: $spacer * 6
);

// Border radius
$border-radius: 1rem;

// import variables and mixins
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// custom colours

$custom-colors: (
	"contrast": rgb(251, 230, 0),
	"primary-light": rgb(164, 213, 235),
	"secondary-dark": rgb(13, 111, 97),
);

// merge custom colours with theme colours
$theme-colors: map-merge($theme-colors, $custom-colors);

// remove colours from the theme
$theme-colors: map-remove(
	$theme-colors,
	"danger",
	"warning",
	"success",
	"info"
);

// Box shadow
// $box-shadow: -0.5rem 0.5rem 1rem $contrast;	

// Color loops
@each $color, $val in $colors {
	.bg-#{$color} {
		background-color: $val;
	}
	.bg-#{$color}-light {
		background-color: tint-color($val, 60%);
	}
}

// Card image height
.card-img,
.card-img-top,
.card-img-bottom {
  height: 10rem;
  object-fit: cover;
}

.card-fixed {
	width: 350px;
}
// import bootstrap.scss
@import "../node_modules/bootstrap/scss/bootstrap.scss";
