@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Patrick+Hand&family=Playfair+Display:wght@400;500&display=swap");

// import functions
@import "../node_modules/bootstrap/scss/functions";

// globals
// $enable-rounded: false;
$enable-negative-margins: true;
$enable-shadows: true;
$link-decoration: none;
$enable-rounded: true;
// $enable-gradients: true;

// colors

$primary: rgb(222, 144, 6);
$secondary: #6fbfbf;
// $secondary:      #f3f3f3;
$success: rgb(154, 235, 163);
$info: #90a4ef;
// $info: #3659e3;

$purple: #eee5ff;

$light: #f0f2f1;
$dark: #39364f;


// Fonts - didn't find font from Figma design so decided not to change
// $font-family-base: "Patrick Hand";
// $font-family-base: "IBM Plex Mono";

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
// $font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// // stylelint-enable value-keyword-case
// $font-family-base:            var(--bs-font-sans-serif);
// $font-family-code:            var(--bs-font-monospace);

// Spacing
$spacer: 1rem;
$spacers: (
  //sass map
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 4,
  6: $spacer * 6,
  // additional spacer option
  7: $spacer * 0.75
);

// List group
$list-group-item-padding-y: $spacer * 0.3;
$list-group-border-width: 0;

// Border radius
$border-radius: 0.25rem;

// Container sizes

// import variables and mixins
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/navbar";

// Width

$utilities: map-merge(
  $utilities,
  (
    // add responsiveness and extra values to width
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                10: 10%,
                80: 80%,
                85: 85%,
                90: 90%,
              )
            ),
        )
      ),
      // Enable responsiveness on rounded corners
      "rounded":
      map-merge(
        map-get($utilities, "rounded"),
        (
          responsive: true,
        )
      ),
  )
);

// Had to figure out where to integrate this in the above map-merge
// Enable responsiveness on rounded corners
// $utilities: map-merge(
//   $utilities,
//   (
//     "rounded":
//       map-merge(
//         map-get($utilities, "rounded"),
//         (
//           responsive: true,
//         )
//       ),
//   )
// );

$input-btn-font-size: 0.625;

// Buttons - customised sizing
$btn-padding-y: 0.5rem;
$btn-padding-x: 3rem;
$btn-font-family: $input-btn-font-family;
$btn-font-size: 0.625;

$btn-padding-y-sm: 0.174rem;
$btn-padding-x-sm: 1rem;
$btn-font-size-sm: 0.875rem;

$btn-padding-y-lg: 0.5rem;
$btn-padding-x-lg: 1rem;
$btn-font-size-lg: 0.625;

// Thumbnail images - removed border and added slight corner radius
$thumbnail-padding: 0;
$thumbnail-border-width: 0;
$thumbnail-border-radius: 0.5rem;

// Shadows - custom parameters 
$box-shadow: 0 0.25rem 0.75rem rgba($black, 0.075);

// Cards - added a box shadow and removed border
$card-box-shadow: $box-shadow;
$card-border-width: 0;
$card-border-radius: $border-radius-xl;
$card-inner-border-radius: $card-border-radius;

// reduced the card titles font size
.card-title {
  margin-bottom: var(--#{$prefix}card-title-spacer-y);
  font-size: $h4-font-size;
}

// Custom button values

// Link Styling
$link-color: $dark;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-hover-decoration: null;

//Tags
.tag-btn > li {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

// font sizes
$h1-font-size: 3.25rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.999rem;
$h4-font-size: 1.414rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;

/// custom colours
/// problems with getting these to work, haven't resolved it yet
$custom-colors: (
  "dark-purple": #1E0A3C,
  "primary-light": rgb(164, 213, 235),
  "secondary-dark": rgb(13, 111, 97),
  "bg": #d8d8d8
);

// merge custom colours with theme colours
$theme-colors: map-merge($theme-colors, $custom-colors);

// remove colours from the theme
$theme-colors: map-remove($theme-colors, "danger", "warning", "success");

// Box shadow
// $box-shadow: -0.5rem 0.5rem 1rem $contrast;

// Color loops
@each $color, $val in $colors {
  .bg-#{$color} {
    background-color: $val;
  }
  .bg-#{$color}-light {
    background-color: tint-color($val, 60%);
  }
  .bg-#{$color}-dark {
    background-color: shade-color($val, 70%);
  }
}


//////////////////////////
// Filter options
// underline on hover
//////////////////////////

.list-group-item {
  padding: 0.5rem 0.25rem !important;
  margin: 0rem 0.5rem;
  // padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
}


// 'Popular in' section , filters underline on hover
// width 0% so it doesn't show on default state
.filter .list-group .list-group-item a::after,
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: -8px;
  background-color: #000000;
  width: 0%;
  content: "";
  height: 1.5px;
}

// display on hover
.filter .list-group .list-group-item a:hover::after {
  width: 100%;
}

// maintains the same text colour for default state and hover
.current > a,
.current > a:hover {
  color: var(--bs-primary);
}

// Change colour and keep constant for currently selected
.current::after {
  background-color: var(--bs-primary);
  width: 100%;
}
//////////////////////////

.sep::after {
  content: "";
  border-bottom: gray;
}

/// Card image fixed height regarless of image size
/// with more time I would have added a way to adjust 
/// which part of the image was shown
.card-img,
.card-img-top,
.card-img-bottom {
  height: 10rem;
  object-fit: cover;
}

/// shouldn't be need as BS has .object-fit-cover class already
/// but this wasn't working and I couldn't find the reason
.img-fit {
  object-fit: cover;
}

///////////////////////////////// 
/// attempted to restrict the height but this only caused problem 
/// at different screen sizes. Class not used
/// 
// .hero-img {
//   height: 440px;
//   width: 100%;
// }
///////////////////////////////// 

// wave bg image that fills the fluid container
.hero-wrapper {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='1676' height='430' viewBox='0 0 1676 430' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3405_50198)'%3E%3Cpath d='M1669.31 -124.702C1704.63 -198.281 1599.75 -278.89 1440.21 -219.509C1280.67 -160.128 1138.67 -174.472 940.588 -234.668C588.163 -341.792 438.492 -309.897 215.804 -220.763C150.423 -195.199 15.9418 -122.33 0.814447 -35.3897C-18.0424 73.26 298.334 62.7189 143.288 203.358C-11.7568 343.996 26.7216 552.457 835.628 313.658C939.215 283.079 1109.58 269.122 1259.68 366.729C1409.78 464.336 1549.16 434.834 1602.55 362.937C1716.96 208.836 1609.92 -1.08292 1669.31 -124.702Z' fill='%23EDF1FC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3405_50198'%3E%3Crect width='1676' height='430' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: top;
  background-repeat: no-repeat;
}

// stretches bg image to fill container, with extra blur
// absolute positioning to allow for main image to sit on top
.hero-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  filter: blur(50px);
}

// absolute sizing for the organisation image on index and within each card
.org-img {
  height: 74px;
  width: 74px;
}

.card-org-img {
  height: 40px;
  width: 40px;
}

// restricting how many lines of text will be displayed on each card, to keep same heigth
.card-text {
  display: -webkit-box;
  /// webkit-line-clamp allows selecting how many lines of text
  /// will be displayed before truncating 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: var(--word-break, 'none');
  overflow: hidden;
  hyphens: auto;
}

/// set sizing and background colour for icons used on details page in 'When and Where'
/// and 'About this Event' sections
.detail-icon {
  /// padding: 0.70rem .90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--bs-gray-100);
}

footer {
  background-color: #1E0A3C;
}

/// Displays a divider in the 'When and Where' section
/// after small breakpoint. Would have preferred to impliment
/// the ::before seelctor to do this but did not have enough time
/// to learn how to do this
@media (min-width: 576px) {
  .location {
    border-left: 1px solid #dbdae3;
  }
}

// Keep 'buy' button at bottom of screen on mobile
// @media (max-width: 576px) {
//   .fix-b {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//   }
// }

/// 'More from this Organiser' section
/// Resize image to rectangle after smallest breakpoint
/// max 100px height
@media (min-width: 576px) {
  .rect-img {
    max-height: 100px;
    width: 100%;
    object-fit: cover;
  }
}
// max 200px height
@media (max-width: 576px) {
  .rect-img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
  }
}

/////////////////
// Allows card to resize up to max of 350px
// after smallest breakpoint but wasn't neccessary
// after adjusting the col sizes
//
// @media (min-width: 576px) {
//   .card {
//     max-width: 350px;
//   }
// }
/////////////////

/// Hover navbar dropdown menu options
/// the .dropdown-menu elements are hidden until hovered over
/// then displayed block
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  // .navbar .nav-item:hover .nav-link {
  // }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

// Space nav items
.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

// Containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  //reduced size of largest container
  xxl: 1141px,
);

// Source mixin
@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

// Custom container size used on details page
.container-fix-sm {
  @include make-container();
  max-width: 700px;
}

///////////////////////////////////////////////////////
/// Replaced media-breakpoints with d-sm-flex (d-flex responsive)
///////////////////////////////////////////////////////
// Org Name and Follow elements - stack on mobile
// .org-follow {
// }
// upwards of the small container display felx
// @include media-breakpoint-up(sm) {
//   .org-follow {
//     display: flex;
// 	justify-content: start;
//   }
// }
// // Org Follow - padding
// // On mobile display stacked with 1rem mt
// // Above, display flex with left margin
// .follow {
//   margin-top: 1rem;
// }
// @include media-breakpoint-up(sm) {
//   .follow {
//     display: flex;
// 	justify-content: start;
// 	margin-left: 3rem;
// 	margin-top: 0;
//   }
// }
///////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////
// import bootstrap.scss
@import "../node_modules/bootstrap/scss/bootstrap.scss";
